@media print {
    body {
        margin: 0;
        padding: 0;
        background: white;
    }

    .printable-label {
        width: 400px; /* Match your max-w-sm */
        padding: 8px;
        margin-top:60px;
        margin-left: 60px;
        box-sizing: border-box;
    }

    /* Optional: remove buttons or UI elements */
    .no-print {
        display: none !important;
    }

}